// POPOVER KEYFRAMES
// Used on Sidenotes, Modal Bounces

@bounceInOpacityStart: 0;
@bounceInOpacityEnd: 1;
@bounceInOpacityEndIE: 100;
@bounceInScaleStart: 0.7;
@bounceInScalePeak: 1.1;
@bounceInScaleEnd: 1;

@-webkit-keyframes lf-scale-bounce-in {
  0% {
    -webkit-opacity: @bounceInOpacityStart;
    -webkit-transform: scale(@bounceInScaleStart);
  }
  62% {
    -webkit-transform: scale(@bounceInScalePeak);
  }
  100% {
    -webkit-opacity: @bounceInOpacityEnd;
    -webkit-transform: scale(@bounceInScaleEnd);
  }
}
@-moz-keyframes lf-scale-bounce-in {
  0% {
    -moz-opacity: @bounceInOpacityStart;
    -moz-transform: scale(@bounceInScaleStart);
  }
  62% {
    -moz-transform: scale(@bounceInScalePeak);
  }
  100% {
    -moz-opacity: @bounceInOpacityEnd;
    -moz-transform: scale(@bounceInScaleEnd);
  }
}
@-o-keyframes lf-scale-bounce-in {
  0% {
    opacity: @bounceInOpacityStart;
    -o-transform: scale(@bounceInScaleStart);
  }
  62% {
    -o-transform: scale(@bounceInScalePeak);
  }
  100% {
    opacity: @bounceInOpacityEnd;
    -o-transform: scale(@bounceInScaleEnd);
  }
}
@keyframes lf-scale-bounce-in {
  0% {
    opacity: @bounceInOpacityStart;
    filter: ~"alpha(opacity=@{bounceInOpacityStart})";
    -ms-filter: %("progid:DXImageTransform.Microsoft.Alpha(Opacity=%d)", @bounceInOpacityStart);
    -ms-transform: scale(@bounceInScaleStart);
    transform: scale(@bounceInScaleStart);
  }
  62% {
    -ms-transform: scale(@bounceInScalePeak);
    transform: scale(@bounceInScalePeak);
  }
  100% {
    opacity: @bounceInOpacityEnd;
    filter: ~"alpha(opacity=@{bounceInOpacityEndIE})";
    -ms-filter: %("progid:DXImageTransform.Microsoft.Alpha(Opacity=%d)", @bounceInOpacityEndIE);
    -ms-transform: scale(@bounceInScaleEnd);
    transform: scale(@bounceInScaleEnd);
  }
}

@-webkit-keyframes lf-scale-out {
  0% {
    -webkit-opacity: @bounceInOpacityEnd;
    -webkit-transform: scale(@bounceInScaleEnd);
  }
  100% {
    -webkit-opacity: @bounceInOpacityStart;
    -webkit-transform: scale(@bounceInScaleStart);
  }
}
@-moz-keyframes lf-scale-out {
  0% {
    -moz-opacity: @bounceInOpacityEnd;
    -moz-transform: scale(@bounceInScaleEnd);
  }
  100% {
    -moz-opacity: @bounceInOpacityStart;
    -moz-transform: scale(@bounceInScaleStart);
  }
}
@-o-keyframes lf-scale-out {
  0% {
    opacity: @bounceInOpacityEnd;
    -o-transform: scale(@bounceInScaleEnd);
  }
  100% {
    opacity: @bounceInOpacityStart;
    -o-transform: scale(@bounceInScaleStart);
  }
}
@keyframes lf-scale-out {
  0% {
    opacity: @bounceInOpacityEnd;
    filter: ~"alpha(opacity=@{bounceInOpacityEndIE})";
    -ms-filter: %("progid:DXImageTransform.Microsoft.Alpha(Opacity=%d)", @bounceInOpacityEndIE);
    -ms-transform: scale(@bounceInScaleEnd);
    transform: scale(@bounceInScaleEnd);
  }
  100% {
    opacity: @bounceInOpacityStart;
    filter: ~"alpha(opacity=@{bounceInOpacityStart})";
    -ms-filter: %("progid:DXImageTransform.Microsoft.Alpha(Opacity=%d)", @bounceInOpacityStart);
    -ms-transform: scale(@bounceInScaleStart);
    transform: scale(@bounceInScaleStart);
  }
}

// VOTE KEYFRAMES
// Used on sidenotes voting

@voteStartScale: 0.6;
@voteMidScale: 1.3;
@voteEndScale: 1;
@voteStartOpacity: 1;
@voteStartOpacityIE: @voteStartOpacity * 100;
@voteMidOpacity: 0.8;
@voteMidOpacityIE: @voteMidOpacity * 100;

@-webkit-keyframes lf-votebounce {
    0% {
        -webkit-transform: scale(@voteStartScale);
        opacity: @voteStartOpacity;
    }
    40% {
        -webkit-transform: scale(@voteMidScale);
        opacity: @voteMidOpacity;
    }
    100% {
        -webkit-transform: scale(@voteEndScale);
    }
}
@-moz-keyframes lf-votebounce {
    0% {
        -moz-transform: scale(@voteStartScale);
        opacity: @voteStartOpacity;
    }
    40% {
        -moz-transform: scale(@voteMidScale);
        opacity: @voteMidOpacity;
    }
    100% {
        -moz-transform: scale(@voteEndScale);
    }
}
@-o-keyframes lf-votebounce {
    0% {
        -o-transform: scale(@voteStartScale);
        opacity: @voteStartOpacity;
    }
    40% {
        -o-transform: scale(@voteMidScale);
        opacity: @voteMidOpacity;
    }
    100% {
        -o-transform: scale(@voteEndScale);
    }
}
@keyframes lf-votebounce {
    0% {
        -ms-transform: scale(@voteStartScale);
        transform: scale(@voteStartScale);
        opacity: @voteStartOpacity;
        filter: ~"alpha(opacity=@{voteStartOpacityIE})";
        -ms-filter: %("progid:DXImageTransform.Microsoft.Alpha(Opacity=%d)", @voteStartOpacityIE);
    }
    40% {
        -ms-transform: scale(@voteMidScale);
        transform: scale(@voteMidScale);
        opacity: @voteMidOpacity;
        filter: ~"alpha(opacity=@{voteMidOpacityIE})";
        -ms-filter: %("progid:DXImageTransform.Microsoft.Alpha(Opacity=%d)", @voteMidOpacityIE);
    }
    100% {
        -ms-transform: scale(@voteEndScale);
        transform: scale(@voteEndScale);
    }
}

// ACTION SUCCESS KEYFRMAES
// Used in annotations success actions

@opacity0: 0;
@opacity0IE: @opacity0 * 100;
@opacity15: 1;
@opacity15IE: @opacity15 * 100;
@opacity85: 1;
@opacity85IE: @opacity85 * 100;
@opacity100: 0;
@opacity100IE: @opacity100 * 100;
@scale0: 0.6;
@scale15: 1;
@scale85: 1;
@scale100: 0.6;

@-webkit-keyframes lf-hudbounce {
    0% {
        -webkit-transform: scale(@scale0);
        opacity: @opacity0;
    }
    15% {
        -webkit-transform: scale(@scale15);
        opacity: @opacity15;
    }
    85% {
        -webkit-transform: scale(@scale85);
        opacity: @opacity85;
    }
    100% {
        -webkit-transform: scale(@scale100);
        opacity: @opacity100;
    }
}
@-moz-keyframes lf-hudbounce {
    0% {
        -moz-transform: scale(@scale0);
        opacity: @opacity0;
    }
    15% {
        -moz-transform: scale(@scale15);
        opacity: @opacity15;
    }
    85% {
        -moz-transform: scale(@scale85);
        opacity: @opacity85;
    }
    100% {
        -moz-transform: scale(@scale100);
        opacity: @opacity100;
    }
}
@-o-keyframes lf-hudbounce {
    0% {
        -o-transform: scale(@scale0);
        opacity: @opacity0;
    }
    15% {
        -o-transform: scale(@scale15);
        opacity: @opacity15;
    }
    85% {
        -o-transform: scale(@scale85);
        opacity: @opacity85;
    }
    100% {
        -o-transform: scale(@scale100);
        opacity: @opacity100;
    }
}
@keyframes lf-hudbounce {
    0% {
        -ms-transform: scale(@scale0);
        transform: scale(@scale0);
        opacity: @opacity0;
        filter: ~"alpha(opacity=@{opacity0IE})";
        -ms-filter: %("progid:DXImageTransform.Microsoft.Alpha(Opacity=%d)", @opacity0IE);
    }
    15% {
        -ms-transform: scale(@scale15);
        transform: scale(@scale15);
        opacity: @opacity15;
        filter: ~"alpha(opacity=@{opacity15IE})";
        -ms-filter: %("progid:DXImageTransform.Microsoft.Alpha(Opacity=%d)", @opacity15IE);
    }
    85% {
        -ms-transform: scale(@scale85);
        transform: scale(@scale85);
        opacity: @opacity85;
        filter: ~"alpha(opacity=@{opacity85IE})";
        -ms-filter: %("progid:DXImageTransform.Microsoft.Alpha(Opacity=%d)", @opacity85IE);
    }
    100% {
        -ms-transform: scale(@scale100);
        transform: scale(@scale100);
        opacity: @opacity100;
        filter: ~"alpha(opacity=@{opacity100IE})";
        -ms-filter: %("progid:DXImageTransform.Microsoft.Alpha(Opacity=%d)", @opacity100IE);
    }
}

// FADE-DOWN
// Used for popovers
@-webkit-keyframes lf-fade-down {
  0% { opacity: 0; -webkit-transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes lf-fade-down {
  0% { opacity: 0; -moz-transform: translateY(-20px); }
  100% { opacity: 1; -moz-transform: translateY(0); }
}
@-o-keyframes lf-fade-down {
  0% { opacity: 0; -o-transform: translateY(-20px); }
  100% { opacity: 1; -o-transform: translateY(0); }
}
@keyframes lf-fade-down {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

// FADE-UP
// Used for popovers
@-webkit-keyframes lf-fade-up {
  0% { opacity: 0; -webkit-transform: translateY(20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes lf-fade-up {
  0% { opacity: 0; -moz-transform: translateY(20px); }
  100% { opacity: 1; -moz-transform: translateY(0); }
}
@-o-keyframes lf-fade-up {
  0% { opacity: 0; -o-transform: translateY(20px); }
  100% { opacity: 1; -o-transform: translateY(0); }
}
@keyframes lf-fade-up {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}