/**
* Makes an .lf-avatar size
* @mixin
*/
.make-lf-avatar-size(
	@width;
	@height;
	@border-radius;
	) {
		width: @width;
		height: @height;
		border-radius: @border-radius;
}

.lf-avatar, .lf-avatar > img {
	.make-lf-avatar-size(48px, 48px, 3px);
}

.lf-avatar-lg, .lf-avatar-lg > img {
	.make-lf-avatar-size(96px, 96px, 6px);
}

.lf-avatar-sm, .lf-avatar-sm > img {
	.make-lf-avatar-size(36px, 36px, 3px);
}

.lf-avatar-xs, .lf-avatar-xs > img {
	.make-lf-avatar-size(24px, 24px, 3px);
}