@import (reference) "./variables";

.lf-badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: @badge-font-size;
  font-weight: @badge-font-weight;
  color: @badge-color;
  line-height: @badge-line-height;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: @badge-bg;
  border-radius: @badge-border-radius;

  &:empty {
    display: none;
  }
}

a.lf-badge {
  &:hover,
  &:focus {
    color: @badge-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}

.lf-btn .lf-badge {
  position: relative;
  top: -1px;
}

a.lf-list-group-item.active > .lf-badge,
.lf-nav-pills > .active > a > .lf-badge {
  color: @badge-active-color;
  background-color: @badge-active-bg;
}
.lf-nav-pills > li > a > .lf-badge {
  margin-left: 3px;
}