.lf-btn {
    .btn;

    &:hover,
    &:focus {
        box-shadow: 0 1px 2px 0 tint(@lf-gray-darker, 90%);
        text-decoration: none;
    }
}

// Alternate buttons
// --------------------------------------------------

.lf-btn-default {
    .btn-default;
}
.lf-btn-primary {
    .btn-primary;
}
// Warning appears as orange
.lf-btn-warning {
    .btn-warning;
}
// Danger and error appear as red
.lf-btn-danger {
    .btn-danger;
}
// Success appears as green
.lf-btn-success {
    .btn-success;
}
// Info appears as blue-green
.lf-btn-info {
    .btn-info;
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.lf-btn-link {
    .btn-link;

    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
        box-shadow: none;
    }
}

// Button Sizes
// --------------------------------------------------

.lf-btn-lg {
    .btn-lg;
}
.lf-btn-sm {
    .btn-sm;
}
.lf-btn-xs {
    .btn-xs;
}

// Block button
// --------------------------------------------------

.lf-btn-block {
    .btn-block;
}
