@import (reference) "./variables";
@fycon-font-version: "1.3.3";

.fycons-font-face(@fycon-font-version: "@{fycon-font-version}", @icon-font-path: "@{icon-font-path}", @fycon-font-name: "@{fycon-font-name}"){
  font-family: "fycons-@{fycon-font-version}";
  src:~"url('@{icon-font-path}@{fycon-font-name}.eot')";
  src:~"url('@{icon-font-path}@{fycon-font-name}.eot?#iefix') format('embedded-opentype')",
    ~"url('@{icon-font-path}@{fycon-font-name}.woff') format('woff')",
    ~"url('@{icon-font-path}@{fycon-font-name}.ttf') format('truetype')",
    ~"url('@{icon-font-path}@{fycon-font-name}.svg#fycons') format('svg')";
  font-weight: normal;
  font-style: normal;
}

.fycons-styles() {
  [class^="fycon-"]:before,
  [class*=" fycon-"]:before {
    font-family: "fycons-@{fycon-font-version}" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: inherit;
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .btn, .btn-lg, .btn-sm {
    [class^="fycon-"]:before,
    [class*=" fycon-"]:before {
      margin-top: -2px;
    }
  }

  .fycon-lg {
    font-size: 2em;
  }

  .fycon-sm {
    font-size: 0.5em;
  }

  .fycon-inherit {
    font-size: inherit;
  }
}
