/**
 * Bootstrap Variables
 */
@import "../../lib/bootstrap/less/variables.less";

// LF colors
// -------------------------
@lf-grey:      #2F3440;
@lf-purple:    #7168A5;
@lf-blue:      #0F98EC;
@lf-green:     #63C685;
@lf-yellow:    #FEB33B;
@lf-orange:    #E65B3F;
@lf-red:       #F53E52;

@lf-light-grey:      lighten(@lf-grey, 15%);
@lf-light-purple:    lighten(@lf-purple, 15%);
@lf-light-blue:      lighten(@lf-blue, 15%);
@lf-light-green:     lighten(@lf-green, 15%);
@lf-light-yellow:    lighten(@lf-yellow, 15%);
@lf-light-orange:    lighten(@lf-orange, 15%);
@lf-light-red:       lighten(@lf-red, 15%);

// Brand colors
// -------------------------
@brand-primary:   #ff5e00;
@brand-success:   #63C685;
@brand-warning:   #FEB33B;
@brand-danger:    #F53E52;
@brand-info:      #0F98EC;

/**
 * Navbar
 */

// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             0;
@navbar-padding-horizontal:        floor(@grid-gutter-width / 2);
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);

@navbar-default-bg:                #35353a;
@navbar-default-link-color:        #aaa;
@navbar-default-link-hover-color:  white;

// Navbar brand label
@navbar-default-brand-color:       white;
@navbar-default-brand-hover-color: darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:    transparent;

// Form states and alerts
// -------------------------

@state-success-text:             #FFFFFF;
@state-success-bg:               @lf-green;
@state-success-border:           @lf-green;

@state-info-text:                #FFFFFF;
@state-info-bg:                  @lf-blue;
@state-info-border:              @lf-blue;

@state-warning-text:             #FFFFFF;
@state-warning-bg:               @lf-yellow;
@state-warning-border:           @lf-yellow;

@state-danger-text:              #FFFFFF;
@state-danger-bg:                @lf-red;
@state-danger-border:            @lf-red;
