/**
 * Bootstrap Variables
 */
@import "../../lib/bootstrap/less/variables.less";

@brand-primary:         #ff5e00;

/**
 * Navbar
 */

// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             0;
@navbar-padding-horizontal:        floor(@grid-gutter-width / 2);
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);

@navbar-default-bg:                #35353a;
@navbar-default-link-color:                #aaa;
@navbar-default-link-hover-color:          white;

// Navbar brand label
@navbar-default-brand-color:               white;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;