/**
 * Bootstrap Variables
 */
@import "../../lib/bootstrap/less/variables.less";

// Brand colors
// -------------------------
@brand-primary:   #ff5e00;
@brand-dark-grey: #2F3440;
@brand-purple:    #7168A5;
@brand-blue:      #0F98EC;
@brand-green:     #63C685;
@brand-yellow:    #FEB33B;
@brand-orange:    #E65B3F;
@brand-red:       #F53E52;

/**
 * Navbar
 */

// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             0;
@navbar-padding-horizontal:        floor(@grid-gutter-width / 2);
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);

@navbar-default-bg:                #35353a;
@navbar-default-link-color:        #aaa;
@navbar-default-link-hover-color:  white;

// Navbar brand label
@navbar-default-brand-color:       white;
@navbar-default-brand-hover-color: darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:    transparent;

// Form states and alerts
// -------------------------

@state-success-text:             #FFFFFF;
@state-success-bg:               @brand-green;
@state-success-border:           @brand-green;

@state-info-text:                #FFFFFF;
@state-info-bg:                  @brand-blue;
@state-info-border:              @brand-blue;

@state-warning-text:             #FFFFFF;
@state-warning-bg:               @brand-yellow;
@state-warning-border:           @brand-yellow;

@state-danger-text:              #FFFFFF;
@state-danger-bg:                @brand-red;
@state-danger-border:            @brand-red;
